@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
}

header {
    background-color: rgba(139, 0, 0, 0.26);
}

header h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

header nav div h3 {
    color: rgb(255, 255, 255) !important;
}

header nav div h5 {
    color: white;
    font-size: 20px;
}

header div {
    background-color: rgba(139, 0, 0, 0.542);
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
}
.hero{
    margin-top: 6%;
}
.hero img{
    object-fit: cover;
    size: 10px;
}
.imagenes-targetas {
    width: 30%;
    max-width: 1000px;
    min-width: 320px;
    margin:auto;
    background-color: rgba(139, 0, 0, 0.162);
}
img{
    width: 30%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15);
}
.third {
    width: 30%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15);
}
.img-carousel{
    display: flex;
    justify-content: center;
}
.card {
    margin-left: 2%;
    margin-right: 2%;
}
.targetas-hero{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.carousel-item{
    object-fit: cover;
}
.carousel-item img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-top: 5%;
}
.hero div{
    background-color: rgba(30, 28, 28, 0.162);
}
.card-header{
    color:white;
}
.hero div p{
    color: white;
}
.hero div h5 {
    color: white;
}
.hero div a{
        transition: 1s;
}
.btn-primary{
    background-color: black;
    color: white;
    border-color: goldenrod;
}
.hero div a:hover {
    background-color:darkred;
}
.card-footer{
    color: white;
}



.destacados {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.destacados h2{
    color: white;
    font-size: 50px;
    font-style: oblique;
    background-color: rgba(139, 0, 0, 0.26);
}

.destacados h3 {
    font-style: oblique;
    font-size: 40px;
    text-align: center;
    color: white;
}

.destacados div {
    width: 500px;
    height: 500px;
    margin: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto;
}

.destacados img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.destacados div a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 0px;
    background-color: rgba(139, 0, 0, 0.162);
    transition: 1s;
}

.destacados a:hover {
    background-color: yellow;
}
.whatsapp img {
    width: 60px;
    height: 60px;
}

.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 1;
}

footer {
    background-color: rgba(139, 0, 0, 0.205);
    margin:auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
}
footer h2{
    color: white;
}
footer div img {
    width: 40px;
    height: 40px;
    margin-left: 50px;
}